<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_code.dao.StudentDao">
	<select id="findAllStudents" resultType="Student">
		select stud_id as studId, name, email, dob from student
	</select>
	<insert id="insertStudent" parameterType="Student">
		insert into Student(name, email, dob) values(#{name},#{email},#{dob})
	</insert>
	<select id="findStudentById" parameterType="int" resultType="Student">
		select stud_id as studId, name, email, dob from student
		where stud_id = #{studId}
	</select>
	<delete id="deleteStudent" parameterType="int">
		delete from Student where stud_id = #{studId}
	</delete>
</mapper>